/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Agrid/Styles/AStrap";
/*Import*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--LoginFrameWidth: 1000px;      /*To resize width the cointainer of Col-1/col-2*/
	--LoginFrameHeight: 600px;      /*To resize height the cointainer of Col-1/col-2*/
	--LoginLogoWidth: 300px;        /*To modify the width of your logo on col-1(left side)*/
	--LoginFrameSize: 45%;          /*To modify the size if you wanted to remove the col-1, make it 100%*/
	--LoginSignInSignUpSize: 28px;  /*To modify the size of SignIn and sign up text*/
	--LoginSignInSpacing: 40px 20px;/*To modify the space above and below the SignIn*/
	--LoginCreateSpacing: 40px 0px;	/*To modify the space above and below Create account*/
	--LoginInputBoxSize: 55px;      /*To modify the Input field box*/
	--LoginInputBoxSpace: 10px 0;   /*To modify the space beetween each input(fill in box) box*/
	--LoginBtnColor: red;       /*To provide backround color of submit/create account) (input-submit)*/
	--LoginTextColor: white;        /*To change text color) (btn_ArClass, form-title_ArClass*/
}
/*1. if you wanted to remove the Right colom with the image delete or make the col-1 a comment on the index/html page
 2. set up --LoginFrameWidth: 400px
 3: set up --LoginFrameSize: 100%*/
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
   
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/