/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Agrid/Styles/AStrap";
/*Import*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--LoginFrameWidth: 900px;      /*To resize width the cointainer of (col-1_ArClass)(col-2_ArClass)*/
	--LoginFrameHeight: auto;      /*To resize height the cointainer of (col-1_ArClass)(col-2_ArClass)*/     
	--LoginLogoWidth: 400px;    	/*To modify the width of your logo on (rightLogo_ArClass)*/
	--LoginLogoRightWidth: 55%;		/*to customize the size of the container Logo (rightLogo_ArClass)*/
	--LoginLogoLeftWidth: 45%;		/*to customize the size of the container SignIn/SignUp (innerbox_ArClass)*/
	--LoginSignInSignUpSize: 28px;  /*To modify the size of SignIn and Create Account(form-title_ArClass > span) */
	--LoginSignInSpacing: 40px 20px;/*To modify the space above and below the form-title_ArClass / form-title_ArClass*/
	--LoginInputBoxSize: 50px;      /*To modify the Input field box (input-box_ArClass) (input-submit_ArClass) */
	--LoginInputBoxSpace: 10px 0;   /*To modify the space beetween each input(fill in box) box*/
	--LoginBtnColor: #21264D;       /*To provide backround color of submit/create account) (input-submit)*/
	--LoginTextColor: white;        /*To change text color (btn-1_ArClass)(btn-2_ArClass)(.form-title_ArClass)(::placeholder)(forgot-pass_ArClass >a)(.input-submit_ArClass)*/

	/*Social Btn*/
	--LoginSocialSize: 40px; /*To modify the height/width of the (social-login_ArClass)*/
}
/*To remove the RightSide with logo
--LoginLogoWidth: 0;
--LoginLogoRightWidth: 0;
--LoginLogoLeftWidth: 100%
*/
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
   
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/