/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/*flex-shirk:0;*/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body {
  background: var(--LoginBackgroundImage);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  overflow-y: scroll;
  /* Add vertical scrollbar */
  box-sizing: border-box; }

.form-container_ArClass {
  display: flex;
  position: relative;
  align-content: center;
  flex-flow: row;
  width: var(--LoginFrameWidth);
  height: var(--LoginFrameHeight);
  flex-shirk: 0;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(20px); }

.rightLogo_ArClass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: var(--LoginLogoRightWidth);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 0 30% 20% 0;
  transition: border-radius 0.3s; }

.form-image-main {
  display: flex;
  position: relative;
  object-fit: contain;
  width: var(--LoginLogoWidth); }

.innerbox_ArClass {
  position: relative display flex;
  flex-shirk: 0;
  width: var(--LoginLogoLeftWidth);
  flex-flow: row;
  box-sizing: border-box; }

.btn-box_ArClass {
  display: flex;
  position: relative;
  justify-content: center;
  height: 25px;
  margin-top: 20px; }

.btn {
  font-weight: 500;
  padding: 7px 40px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--LoginTextColor);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s; }

.btn-1_ArClass {
  background: var(--LoginBtnColor); }

.btn:hover {
  opacity: 0.75; }

/*First Colum*/
.col-1_ArClass {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  transition: .5s; }

.form-image-main_ArClass {
  position: relative;
  width: var(--LoginLogoWidth); }

/*First Colum*/
/*Second Colum*/
.col-2_ArClass {
  position: relative;
  width: 100%;
  padding: 5px;
  display: none; }

/* Login Form*/
.login-form_ArClass {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  transition: .5s; }

.register-form_ArClass {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  transition: .3s; }

.form-title_ArClass {
  margin: var(--LoginSignInSpacing);
  color: var(--LoginTextColor);
  font-size: var(--LoginSignInSignUpSize);
  font-weight: 600; }

.form-inputs_ArClass {
  width: 100%; }

.input-box_ArClass {
  position: relative; }

.input-field_ArClass {
  width: 100%;
  height: var(--LoginInputBoxSize);
  padding: 0 15px;
  margin: var(--LoginInputBoxSpace);
  color: black;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  outline: none;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

::placeholder {
  color: var(--LoginTextColor);
  font-size: 15px; }

.forgot-pass_ArClass {
  display: flex;
  justify-content: center;
  gap: 5px; }

.forgot-pass_ArClass a {
  color: var(--LoginTextColor);
  text-decoration: none;
  font-size: 14px; }

.forgot-pass_ArClass a:hover {
  text-decoration: underline; }

.input-submit_ArClass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: var(--LoginInputBoxSize);
  padding: 0 15px;
  margin: 10px 0;
  color: var(--LoginTextColor);
  background: var(--LoginBtnColor);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s; }

.input-submit_ArClass:hover {
  gap: 15px; }

.social-login_ArClass {
  display: flex;
  gap: 20px;
  margin-top: 20px; }

.social-login_ArClass i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--LoginSocialSize);
  width: var(--LoginSocialSize);
  color: var(--LoginTextColor);
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: .2sec; }

.social-login_ArClass i:hover {
  transform: scale(0.9); }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --LoginFrameWidth: 900px;
  /*To resize width the cointainer of (col-1_ArClass)(col-2_ArClass)*/
  --LoginFrameHeight: auto;
  /*To resize height the cointainer of (col-1_ArClass)(col-2_ArClass)*/
  --LoginLogoWidth: 400px;
  /*To modify the width of your logo on (rightLogo_ArClass)*/
  --LoginLogoRightWidth: 55%;
  /*to customize the size of the container Logo (rightLogo_ArClass)*/
  --LoginLogoLeftWidth: 45%;
  /*to customize the size of the container SignIn/SignUp (innerbox_ArClass)*/
  --LoginSignInSignUpSize: 28px;
  /*To modify the size of SignIn and Create Account(form-title_ArClass > span) */
  --LoginSignInSpacing: 40px 20px;
  /*To modify the space above and below the form-title_ArClass / form-title_ArClass*/
  --LoginInputBoxSize: 50px;
  /*To modify the Input field box (input-box_ArClass) (input-submit_ArClass) */
  --LoginInputBoxSpace: 10px 0;
  /*To modify the space beetween each input(fill in box) box*/
  --LoginBtnColor: #21264D;
  /*To provide backround color of submit/create account) (input-submit)*/
  --LoginTextColor: white;
  /*To change text color (btn-1_ArClass)(btn-2_ArClass)(.form-title_ArClass)(::placeholder)(forgot-pass_ArClass >a)(.input-submit_ArClass)*/
  /*Social Btn*/
  --LoginSocialSize: 40px;
  /*To modify the height/width of the (social-login_ArClass)*/ }

/*To remove the RightSide with logo
--LoginLogoWidth: 0;
--LoginLogoRightWidth: 0;
--LoginLogoLeftWidth: 100%
*/
/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=index.css.map */
