/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Agrid/Styles/AStrap";
/*Import*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--LoginFrameWidth: 400px;      /*To resize width the cointainer of Col-1/col-2*/
	--LoginFrameHeight: auto;      /*To resize height the cointainer of Col-1/col-2*/
	--LoginLogoWidth: 300px;        /*To modify the width of your logo on col-1(left side)*/
	--LoginFrameSize: 100%;          /*To modify the size if you wanted to remove the col-1, make it 100%*/
	--LoginSignInSignUpSize: 28px;  /*To modify the size of SignIn and sign up text*/
	--LoginSignInSpacing: 20px 10px;/*To modify the space above and below the SignIn/Create account*/
	--LoginInputBoxSize: 50px;      /*To modify the Input field box signin/create account*/
	--LoginInputBoxSpace: 10px 0;   /*To modify the space beetween each input(fill in box) box*/
	--LoginBtnColor: #21264D;       	/*To provide backround color of submit/create account) (input-submit)*/
	--LoginTextColor: white;        /*To change text color) (btn_ArClass, form-title_ArClass*/
	
	/*Social Btn*/
	--LoginSocialHeight: 40px; /*To modify the height of the social media links*/
	--LoginSocialWidth: 40px;  /*To modify the width of the social media links*/
}
/*
If you wanted to remove the social media links circles just delete or comment out 
	<div class="social-login_ArClass">
		<i class="bx bxl-google_ArClass"></i>
		<i class="bx bxl-facebook_ArClass"></i>
		<i class="bx bxl-twitetr_ArClass"></i>
		<i class="bx bxl-github_ArClass"></i>
	</div>
on both <!---Login Form---> and <!---Register Form---> on the Html
	
 */
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
   
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/