/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/

/*flex-shirk:0;*/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	overflow: auto;
}
.cointainerBox_ArClass{
	display: flex;
	position: relative;
	flex-flow: row wrap;
	height: auto;
	width: 40%;
	box-sizing: border-box;
	border-radius: 20px;
	border: 2px solid red;
}
.miniTogglebox_ArClass{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: var(--IconSize);
	width: var(--IconSize);
	margin-top: 0;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 4px;
	margin: 10px;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.miniTogglebox_ArClass img{
	margin-top: 0;
	height: var(--IconImageSize);
	width: var(--IconImageSize);
	object-fit: contain;
	border-radius: 25px;
	box-sizing: border-box;
}
.miniTogglebox_ArClass span{
	text-align: center;
	font-size: var(--IconTextSize);
	box-sizing: border-box;
}
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
  
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

 


/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
@media all and (max-height:700px){

}