/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/*flex-shirk:0;*/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body {
  background: var(--LoginBackgroundImage);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  overflow-y: scroll;
  /* Add vertical scrollbar */
  box-sizing: border-box; }

#formDisplay_ArId {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form-container_ArClass {
  display: flex;
  position: relative;
  flex-flow: column;
  width: var(--LoginFrameWidth);
  height: var(--LoginFrameHeight);
  flex-shirk: 0;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(20px); }

.btn-box_ArClass {
  display: flex;
  position: relative;
  justify-content: center;
  height: 25px;
  margin-top: 20px; }

.btn {
  font-weight: 500;
  padding: 7px 40px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .2s; }

.btn-1_ArClass {
  background: var(--LoginBtnColor); }

.btn:hover {
  opacity: 0.75; }

.innerbox_ArClass {
  position: relative display flex;
  flex-shirk: 0;
  width: 800px;
  box-sizing: border-box; }

#innerbox_ArId {
  display: flex;
  flex-flow: row;
  box-sizing: border-box; }

/*First Colum*/
.col-1_ArClass {
  position: relative;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 4vw;
  transition: .3s; }

.form-image-main_ArClass {
  position: relative;
  width: var(--LoginLogoWidth); }

/*First Colum*/
/*Second Colum*/
.col-2_ArClass {
  position: relative;
  width: 50%;
  padding: 5px;
  display: none; }

/* Login Form*/
.login-form_ArClass {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  transition: .3s; }

.register-form_ArClass {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  transition: .3s; }

.form-title_ArClass {
  margin: var(--LoginSignInSpacing);
  color: #fff;
  font-size: var(--LoginSignInSignUpSize);
  font-weight: 600; }

.form-inputs_ArClass {
  width: 100%; }

.input-box_ArClass {
  position: relative; }

.input-field_ArClass {
  width: 100%;
  height: var(--LoginInputBoxSize);
  padding: 0 15px;
  margin: var(--LoginInputBoxSpace);
  color: black;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  outline: none;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

::placeholder {
  color: #fff;
  font-size: 15px; }

/*.input-box_ArClass .icon_ArClass{
	position: relative;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	color: #fff;
}*/
.forgot-pass_ArClass {
  display: flex;
  justify-content: center;
  gap: 5px; }

.forgot-pass_ArClass a {
  color: #fff;
  text-decoration: none;
  font-size: 14px; }

.forgot-pass_ArClass a:hover {
  text-decoration: underline; }

.input-submit_ArClass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: var(--LoginInputBoxSize);
  padding: 0 15px;
  margin: 10px 0;
  color: #fff;
  background: var(--LoginBtnColor);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s; }

.input-submit_ArClass:hover {
  gap: 15px; }

.social-login_ArClass {
  display: flex;
  gap: 20px;
  margin-top: 20px; }

.social-login_ArClass i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--LoginSocialHeight);
  width: var(--LoginSocialWidth);
  color: #fff;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: .2sec; }

.social-login_ArClass i:hover {
  transform: scale(0.9); }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
@media all and (max-height: 700px) {
  #formDisplay_ArId {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%); } }

/*# sourceMappingURL=AStrap.css.map */
